/*----------  Resets and boilerplate  ----------*/

@font-face {
  font-family: "Akkurat Pro Light";
  font-style: normal;
  font-weight: 400;
  src: url(https://common.northwestern.edu/v8/css/fonts/AkkuratProLight.woff)
    format("woff");
}

@font-face {
  font-family: "Akkurat Pro Light Italic";
  font-style: normal;
  font-weight: 400;
  src: url(https://common.northwestern.edu/v8/css/fonts/AkkuratProLightItalic.woff)
    format("woff");
}

@font-face {
  font-family: "Akkurat Pro Regular";
  font-style: normal;
  font-weight: 400;
  src: url(https://common.northwestern.edu/v8/css/fonts/AkkuratProRegular.woff)
    format("woff");
}

@font-face {
  font-family: "Akkurat Pro Italic";
  font-style: normal;
  font-weight: 400;
  src: url(https://common.northwestern.edu/v8/css/fonts/AkkuratProItalic.woff)
    format("woff");
}

@font-face {
  font-family: "Akkurat Pro Bold";
  font-style: normal;
  font-weight: 400;
  src: url(https://common.northwestern.edu/v8/css/fonts/AkkuratProBold.woff)
    format("woff");
}

@font-face {
  font-family: "Akkurat Pro Bold Italic";
  font-style: normal;
  font-weight: 400;
  src: url(https://common.northwestern.edu/v8/css/fonts/AkkuratProBoldItalic.woff)
    format("woff");
}

@font-face {
    font-family: "Poppins Light";
    src: url("https://common.northwestern.edu/v8/css/fonts/Poppins-Light.woff");
    font-weight: 300;
    font-style: normal;        
}

@font-face {
    font-family: "Poppins Bold";
    src: url("https://common.northwestern.edu/v8/css/fonts/Poppins-Bold.woff");
    font-weight: 700;
    font-style: normal;        
}

@font-face {
    font-family: "Poppins Extra Bold";
    src: url("https://common.northwestern.edu/v8/css/fonts/Poppins-ExtraBold.woff");
    font-weight: 800;
    font-style: normal;        
}

@font-face {
    font-family: "Poppins Extra Light";
    src: url("https://common.northwestern.edu/v8/css/fonts/Poppins-ExtraLight.woff");
    font-weight: 100;
    font-style: normal;        
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Akkurat Pro Regular";
  padding: 2rem;
}

h2 {
  color: #4e2a84;
  font: 46px/1.2em "Poppins Light", Arial, sans-serif;
  margin-bottom: 1rem;
}

h3 {
  color: #4e2a84;
  font: 24px/1.2em "Poppins Bold", Arial, sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

h4 {
  color: #716c6b;
  font: 16px/1.2em "Akkurat Pro Regular", Arial, sans-serif;
  margin-bottom: 1rem;
}

h5 {
  color: #4e2a84;
  font: 21px/1.3em "Akkurat Pro Regular", Arial, sans-serif;
  margin-bottom: 1rem;
}

h6 {
  color: #716c6b;
  font: 18px/1.3em "Poppins Bold", Arial, sans-serif;
  margin-bottom: 1rem;
}

label,
p {
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 800px;
}

p {
  line-height: 1.4;
}

p strong {
  font-weight: normal;
  font-family: "Akkurat Pro Bold";
}

label {
  display: block;
  margin-bottom: 1.5rem;
}

.button {
  font: 16px "Akkurat Pro Bold", "Arial Black", sans-serif;
  color: #fff;
  background: #4e2a84;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 0 0.5em;
  padding: 0.8em 1em 0.7em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  min-width: 165px;
}

.button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b6acd1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.button:active {
  outline: none;
}

.button:focus {
  outline: none;
}

/*----------  Form Style  ----------*/

.sig-form {
  display: block;
  box-sizing: border-box;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #cccccc;
}

.checkboxes {
  margin-bottom: 2rem;
}

.checkboxes .form-step {
  margin-bottom: 0px;
}

.form-step {
  position: relative;
  display: block;
  margin-bottom: 24px;
}

.form-step.double {
  display: flex;
  margin-bottom: 2rem;
}

.form-step.triple {
  display: flex;
  margin-bottom: 2rem;
}

.form-step {
  margin-bottom: 2rem;
}

.form-step.degree {
  margin-bottom: 1rem;
}

.form-step.degrees {
  margin-bottom: 1rem;
}

.form-step__field {
  position: relative;
  display: block;
  width: 100%;
}

.triple .form-step__field {
  width: calc(33.3333% - 1.333333rem);
  margin-right: 2rem;
}

.triple .form-step__field:last-of-type {
  margin-right: 0px;
}

.double .form-step__field {
  width: calc(50% - 1rem);
}

.double .form-step__field:first-of-type {
  margin-right: 2rem;
}

.form-step__field label {
  margin-bottom: 4px;
  font-size: 16px;
  font-family: "Akkurat Pro Bold", Arial, Helvetica, sans-serif;
}

.double .form-step__field.year {
  width: 20%;
}

.field__input fieldset {
  border-radius: 0px;
}

.sig-result {
  position: relative;
  display: block;
  margin-top: 3rem;
  padding: 4rem 2rem;
  padding-top: 6.5rem;
  border: 1px solid #cccccc;
}

.sig-result::before {
  top: 25px;
  position: absolute;
  content: "";
  font-family: "Akkurat Pro";
  color: #716c6b;
}

.sig-result::after {
  top: 15px;
  position: absolute;
  content: "Your signature has been generated. Highlight and copy everything below, and paste it into your email client. To learn how to create a signature in Microsoft Outlook, please refer to the instructions at the top of this page.";
  font-family: "Akkurat Pro Light";
  color: #716c6b;
}

.add-degree {
  margin-left: -11px;
  margin-top: -6px;
  font-size: 14px;
  color: #716c6b;
  max-width: 230px;
}

.add-degree:hover {
  cursor: pointer;
  color: #615b5a;
}

.button-float-right {
  position: absolute !important;
  right: -50px;
  bottom: 5px;
}

.degree:first-of-type .button-float-right {
  display: none;
}

.form-control {
  min-width: 100%;
}

.form-control .select-control {
  border-radius: 0px;
}

.label-control {
  background-color: #ffffff;
  padding: 0px 3px;
}

.margin-bot__small {
  margin-bottom: 16px;
}

.sig-result__wrapper {
  font-family: "Arial", Helvetica, sans-serif;
}

.sig-result__wrapper.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .form-step.double.degree,
  .form-step.double {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .form-step.double > div {
    width: 100%;
  }

  div.form-step.double.degree:nth-last-of-type(0) {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .form-step.double.degree .year {
    width: calc(50% - 1rem);
  }
  .triple .form-step__field {
    width: calc(33% - 0.666rem);
    margin-right: 1rem;
  }
  .form-step.double > div:nth-of-type(2) {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 510px) {
  .form-step.triple.pronouns,
  .form-step.triple {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .form-step.triple > div {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.errorText {
  font-size: 12px;
  margin-top: 4px;
  color: red;
}

.errorText.below {
  margin-top: -12px;
  margin-bottom: 6px;
}

.error-messages {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.05);
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: red;
}

.sub-head-helper {
  font-family: "Akkurat Pro Light";
  margin-bottom: 1rem;
  margin-top: -8px;
}

.form-step.sub-step {
  padding-left: 2rem;
}
